body, html{
  margin: 0;
  width: 100%;
  font-family: 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

hr{
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}
